<!--==========================
    Header
  ============================-->
  <header id="header">
      <div class="container-fluid">
  
        <div id="logo" class="pull-left">
            <h1><img class="icon" width="11%" src="../assets/img/favicon.png" alt="Kamal Estates"/><a href="#intro" class="scrollto">Kamal Estates</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
        </div>
  
        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li class="menu-active"><a  [routerLink]="['/home']">Home</a></li>
            <li>
                <a href="/home#AboutUs" >About Us</a>
         
            </li>
            <!-- <li><a href="#services">Services</a></li>
            <li><a href="#portfolio">Portfolio</a></li> -->
            <li><a href="/home#SearchProperty">Search Property</a></li>
            <li class="menu-has-children"><a href="/home#services">Property Options</a>
              <ul>
                <li><a href="/home#buying"    >Buying Property</a></li>
                <li><a href="/home#selling"  >Selling Property</a></li>
                <li><a href="/home#renting" >Renting Property</a></li>
              </ul>
            </li>
            <li><a href="/home#contact" >Contact</a></li>
          </ul>
        </nav><!-- #nav-menu-container -->
      </div>
    </header><!-- #header -->

