<!--==========================
        Buying Us Section
      ============================-->
      <section id="buying-property">
        <div class="container">
  
          <header class="section-header">
            <h3>Buying Property</h3>
            <p>M/s Kamal Estates, always at your service and suggest you to follow following steps while on the process of buying property. The purchaser needs to take care of a few precautions and follow the steps as mentioned hereunder:-
             
             Step No. 1. Intending Buyer needs to shortlist the property that meet with his requirement and budget.
              
              Step No. 2. Needs to verify the title of the property to insure that he is dealing with the actual owner of the property in case this is not possible the dependability level of the dealer / broker needs to be insured for the purpose of safety of deal.
              Step No. 3. It is the duty of the purchaser to inform the property dealer / broker that whether he intends to sell some other property or taken loan from the financial institution to buy the property, so that necessary precautions should be taken for the smooth flow of the deal at the dealers end.
              Step No. 4. Settle the final price of the property after negotiation and pay token money / Biana at the time of signing of the Agreement to sell specifying the last date for full and final payment along with other terms and conditions of the deal.
              Step No. 5. After that purchaser need to arrange funds for full and final payment and the seller needs to arrange the required permissions from the concerned authorities for the execution of papers of full and final payment / sale deed as the case may be.
              NOTE: To do all the above acts and deeds successfully and with total transparency, we have a team of skilled professionals always eager to serve you with determination, dedication and honesty.</p>
          </header>
  </div>
     
      </section><!-- #buying -->