 <!--==========================
        About Us Section
      ============================-->
      <section id="about">
        <div class="container">
  
          <header class="section-header">
            <h3>About Us</h3>


            
            <p>Born in November 1987, Kamal Estates is a known name in the field of Real Estate Consultancy in the City Beautiful of Chandigarh. As a Property Realtor in Chandigarh we have been creating new standards in the field, under the adroit guidance of Mr. Kamal Gupta, the CEO of the company. We have a vast experience in the Real Estate of Chandigarh and adjoining areas and have attained expertise in the field through dedicated efforts and client focused approach.

                The mission of Kamal Estates is to establish itself as the most successful Real Estate Brokerage Company. Kamal Estates incorporates reliable and professional state of-the-art techniques and specializes in the marketing, listing and selling of Residential Homes, Flats, Plots, Commercial Properties, Agricultural Land and Investment Opportunities. Kamal Estates.com maintains a full-time staff of well-trained real estate professionals who continuously strive to provide top quality service for the individual clients and customers.
                </p>
          </header>
  
          <div class="row about-cols">
  
            <div class="col-md-4 wow fadeInUp">
              <div class="about-col">
                <div class="img">
                  <img src="../assets/img/about-mission.jpg" alt="" class="img-fluid">
                  <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                </div>
                <h2 class="title"><a href="#">Free Consultant</a></h2>
                <p>
                  Experts Consultant free of cost for Investment /Loans .                </p>
              </div>
            </div>
  
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
              <div class="about-col">
                <div class="img">
                  <img src="../assets/img/about-plan.jpg" alt="" class="img-fluid">
                  <div class="icon"><i class="ion-ios-list-outline"></i></div>
                </div>
                <h2 class="title"><a href="#">Quality Services</a></h2>
                <p>
                  Full time support and quality Services online as well as ofline .
                </p>
              </div>
            </div>
  
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
              <div class="about-col">
                <div class="img">
                  <img src="../assets/img/about-vision.jpg" alt="" class="img-fluid">
                  <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                </div>
                <h2 class="title"><a href="#">Site Visit</a></h2>
                <p>
                  You can visite site or Check online 
                </p>
              </div>
            </div>
  
          </div>

          <p>
          Our company offers quality services to its clients with the support of experts who are continuously involved in providing solutions to their needs:- 
          A brief picture of the services provided: 
          Sale / Purchase of residential / commercial / industrial property in Chandigarh & adjoining areas.
          Renting of commercial / industrial / godown / warehouse space in and around Chandigarh.
          Legal title search of the property in and around Chandigarh.
          Construction of Houses / Commercial / Industrial Buildings on turn key basis.
          Registration of documents in the office of Sub-Registrar, Chandigarh and adjoining area (As permissible under the act).
          Real Estate in Chandigarh
          Chandigarh can boast of being one of the most organized and well planned city in the country. With a great pace of development in the infrastructure and industry in the place, the property market in Chandigarh is also buzzing. With new IT firms and industries coming up in the place, many people are looking forward to making it their hometown hence creating a huge demand for properties of all types. Hence property investment in Chandigarh has become a very profitable job and investors from various provinces such as corporate, government, commercial, and residential are getting attracted to the area. Well-connected roads, proximity to the places like New Delhi, Amritsar and Ludhiana and high quality transportation modes, medical and education facilities add more value to the infrastructure of Chandigarh.
          
          Many new properties are coming up to meet the demands of natives as well as the tourists who keep frequenting the town. Lucrative Residential Properties in Chandigarh include luxury apartments, low-cost flats, fully-equipped villas, spacious bungalows, and modern penthouses. And when it comes to commercial property, Chandigarh is left with extra vast spaces that can easily accommodate world-class infrastructure. Basic amenities and luxurious facilities are also available at priority in Chandigarh. Owing to the same, residential, industrial and commercial Property in Chandigarh are becoming a lucrative investment.
          
          For more details you are requested to search the properties in our site and have an idea of the location of the property as well by opining the sector wise site plans provided for your connivance please.
        </p>
        </div>
      </section><!-- #about -->
