 <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
      <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
  
          <ol class="carousel-indicators"></ol>
  
          <div class="carousel-inner" role="listbox">

           
            <div class="carousel-item active">
              <div class="carousel-background"><img src="../assets/img/intro-carousel/family.jpg" alt=""></div>
              <div class="carousel-container">
                <div class="carousel-content">
                
                  <h2>Zirakpur</h2>
                  <a href="/home#SearchProperty" class="btn-get-started scrollto">Get Property</a>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="carousel-background"><img src="../assets/img/intro-carousel/176464_cool-city-wallpapers.jpg" alt=""></div>
              <div class="carousel-container">
                <div class="carousel-content">
                
                  <h2>Kharar</h2>
                  <a href="/home#SearchProperty" class="btn-get-started scrollto">Get Property</a>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="carousel-background"><img src="../assets/img/intro-carousel/lovechandighar.jpg" alt=""></div>
              <div class="carousel-container">
                <div class="carousel-content">
                  
                  <h2> Chandigarh</h2>
                  <a href="/home#SearchProperty" class="btn-get-started scrollto">Get Property</a>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="carousel-background"><img src="../assets/img/intro-carousel/Mohali.png" alt=""></div>
              <div class="carousel-container">
                <div class="carousel-content">
                
                  <h2>Mohali</h2>
                  <a href="/home#SearchProperty" class="btn-get-started scrollto">Get Property</a>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="carousel-background"><img src="../assets/img/intro-carousel/176496_cool-city-wallpapers.jpg" alt=""></div>
              <div class="carousel-container">
                <div class="carousel-content">
                
                  <h2>Panchkula</h2>
                  <a href="/home#SearchProperty" class="btn-get-started scrollto">Get Property</a>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-background"><img src="../assets/img/intro-carousel/house.jpg" alt=""></div>
              <div class="carousel-container">
                <div class="carousel-content">
                  
                  <h2>Derabassi</h2>
                  <a href="/home#SearchProperty" class="btn-get-started scrollto">Get Property</a>
                </div>
              </div>
            </div>
  
            <div class="carousel-item">
              <div class="carousel-background"><img src="../assets/img/intro-carousel/towers.jpg" alt=""></div>
              <div class="carousel-container">
                <div class="carousel-content">
                  
                  <h2>Landran</h2>
                  <a href="/home#SearchProperty" class="btn-get-started scrollto">Get Property</a>
                </div>
              </div>
            </div>
  
            <div class="carousel-item">
              <div class="carousel-background"><img src="../assets/img/intro-carousel/cityView.jpg" alt=""></div>
              <div class="carousel-container">
                <div class="carousel-content">
                  
                  <h2>Mullanpur Ecocity</h2>
                  <a href="/home#SearchProperty" class="btn-get-started scrollto">Get Property</a>
                </div>
              </div>
            </div>
  
            <div class="carousel-item">
              <div class="carousel-background"><img src="../assets/img/intro-carousel/luxaryHome.jpg" alt=""></div>
              <div class="carousel-container">
                <div class="carousel-content">
                  
                  <h2>Aerocity</h2>
                  <a href="/home#SearchProperty" class="btn-get-started scrollto">Get Property</a>
                </div>
              </div>
            </div>
  
          </div>
  
          <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
  
          <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
  
        </div>
      </div>
    </section><!-- #intro -->
  
 <!--==========================
        Featured Services Section
      ============================-->
      <section id="featured-services">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-4 box">
              <!-- <img src="../assets/img/buy.png" alt="" />
              <h4 class="title"><a href="">Buying Property</a></h4> -->
              <p class="description">Buying Property</p>
            </div>

  
            <div class="col-lg-4 box box-bg">
              <!-- <img src="../assets/img/rent.svg" alt=""/>
              <h4 class="title"><a href="">Renting Property</a></h4> -->
              <p class="description">Renting Property</p>
            </div>
  
            <div class="col-lg-4 box">
              <!-- <img src="../assets/img/sell.svg" alt=""/>
              <h4 class="title"><a href="">Selling Property</a></h4> -->
              <p class="description">Selling Property</p>
            </div>
  
          </div>
        </div>
      </section><!-- #featured-services -->
  

