
<Div style="margin-left: 5px">
  <div >
    <mat-label> Type</mat-label>
    <mat-select multiple>
      <mat-option [value]="" *ngFor="let type of propertySearchTypes"> 
          {{ type}}
      </mat-option>
      </mat-select>
  </div>

  <div >
    <mat-label>Subtype</mat-label>
    <mat-select multiple>
      <mat-option [value]="" *ngFor="let subtype of propertySearchSubtypeTypes"> 
          {{ subtype}}
      </mat-option>
      </mat-select>
  </div>

  <div >
    <mat-label>Location</mat-label>
    <mat-select multiple>
      <mat-option [value]="" *ngFor="let location of propertySearchLocations"> 
          {{ subtype}}
      </mat-option>
      </mat-select>
  </div>
  <div >
    <mat-label>Sector</mat-label>
    <mat-select multiple>
      <mat-option [value]="" *ngFor="let sector of propertySearchSubtypeSectors"> 
          {{ subtype}}
      </mat-option>
      </mat-select>
  </div>

  <div >
    <mat-label>Price</mat-label>
    <input type="text" class="m-control">
    <mat-label >To</mat-label>
    <input type="text" class="m-control" >
    <mat-select multiple>
      <mat-option [value]="" *ngFor="let pricetype of propertySearchPriceType"> 
          {{ pricetype}}
      </mat-option>
      </mat-select>
  </div>

  <div >
    <mat-label>Size</mat-label>
    <input type="text" class="m-control" >
    <mat-label>To</mat-label>
    <input type="text" class="m-control" >
    <mat-select multiple>
      <mat-option [value]="" *ngFor="let size of propertySearchSizeType"> 
          {{ size}}
      </mat-option>
      </mat-select>
  </div>


<button class="btn1 btn-primary" >SUBMIT</button>

</Div>

