
<Div style="margin-left: 5px">
  <div class="m-group">
    <label class="lbl"> Type</label>
    <select>
      <option *ngFor="let type of propertySearchTypes"> 
          {{ type}}
      </option>
    </select>
  </div>

  <div class="m-group">
    <label class="lbl">Subtype</label>
    <select>
      <option *ngFor="let subtype of propertySearchSubtypeTypes"> 
          {{ subtype}}
      </option>
    </select>
  </div>

  <div class="m-group">
    <label class="lbl">Location</label>
    <select>
      <option *ngFor="let location of propertySearchLocations"> 
          {{ subtype}}
      </option>
    </select>
  </div>
  <div class="m-group">
    <label class="lbl">Sector</label>
    <select>
      <option *ngFor="let sector of propertySearchSubtypeSectors"> 
          {{ subtype}}
      </option>
    </select>
  </div>

  <div class="m-group">
    <label class="lbl">Price</label>
    <input type="text" class="m-control">
    <label class="lbl" >To</label>
    <input type="text" class="m-control" >
    <select>
      <option *ngFor="let pricetype of propertySearchPriceType"> 
          {{ pricetype}}
      </option>
    </select>
  </div>

  <div class="m-group">
    <label class="lbl">Size</label>
    <input type="text" class="m-control" >
    <label class="lbl">To</label>
    <input type="text" class="m-control" >
    <select>
      <option *ngFor="let size of propertySearchSizeType"> 
          {{ size}}
      </option>
    </select>
  </div>


<button class="btn1 btn-primary" >SUBMIT</button>

</Div>

