 <!--==========================
    Footer
  ============================-->
  <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-3 col-md-6 footer-info">
              <h3>Kamal Estates</h3>
              <p>TRUSTED PROPERTY CONSULTANT</p>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
                <li><i class="ion-ios-arrow-right"></i> <a href="#">About us</a></li>
                <li><i class="ion-ios-arrow-right"></i> <a href="#">Services</a></li>
                <li><i class="ion-ios-arrow-right"></i> <a href="#">Terms of service</a></li>
                <li><i class="ion-ios-arrow-right"></i> <a href="#">Privacy policy</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-contact">
              <h4>Contact Us</h4>
              <p>
                  KAMAL ESTATES <br>
                Budget Creators<br>
                S.C.O. - 209, Sec - 36 D, 
                Chandigarh, India  <br>
                <strong>Phone:</strong>0172-5016642, 0172-4663688 <br>
                <strong>Mob:</strong>+91 9814161669  <br>
                <strong>Email:</strong> kamal@gmail.com<br>
              </p>
  
              <div class="social-links">
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
              </div>
  
            </div>
  
            <div class="col-lg-3 col-md-6 footer-newsletter">
              <h4>Our Newsletter</h4>
              <p>KAMAL ESTATES <br>
                  S.C.O.-209, Sec-36D, 
                  Chandigarh, India</p>
              <form action="" method="post">
                <input type="email" name="email"><input type="submit"  value="Subscribe">
              </form>
            </div>
  
          </div>
        </div>
      </div>
      <div class="container">
        <div class="copyright">
          &copy; Copyright 1987-2019 Kamal Estates .All Rights Reserved
        </div>
        <div class="credits">
          Designed by Davinder Singh <a href="https://budgetwebcreator.firebaseapp.com">BudgetWebCreator</a>
        </div>
      </div>
     
    </footer><!-- #footer -->
