
<!--==========================
        selling-property Us Section
      ============================-->
      <section id="selling-property">
          <div class="container">
  
              <header class="section-header">
                <h3>Selling Property</h3>
                <ul>
                    <li>
                 <span style="color:#5287ae">   Step No. 1.</span>
         
         Intending seller needs to approach his trustworthy dealer / broker to get the property noted , tell him about the title of the property, show him the papers of the property as and when required by him and request him to do the needful.
         
         
                    </li>
                    <li>
                 <span style="color:#5287ae">  Step No. 2.</span>
         
         The dealer / broker may need to show the property to the prospective buyers from time to time, to arrange for it accordingly.
         </li>
                    <li>
                 <span style="color:#5287ae">  Step No. 3.</span>
         
         Settle the final price of the property after negotiation and receive the token money / Biana at the time of signing of the Agreement to sell specifying the last date for full and final payment along with other terms and conditions of the deal.
         
                    </li>
                    <li>
                 <span style="color:#5287ae">  Step No. 4.</span>
         
         To apply for and obtain permission to sell for sale of property from the concerned authorities before the last date for full and final payment.
         
                    </li>
                    <li>
                <span style="color:#5287ae">   Step No. 5.</span>
         
         Hand over the possession of  the property as agreed and to sign the execute the sale deed / transfer papers / GPA as the case may be at the time of full and final payment. 
         
                    </li>
                    </ul>
              </header>
        
  
        </div>
      </section><!-- #selling-property -->
