
<!--==========================
        selling-property Us Section
      ============================-->
      <section id="selling-property">
        <div class="container">
  
          <header class="section-header">
            <h3>Selling Property</h3>
            <p>M/s Kamal Estates, always at your service and suggest you to follow following steps while on the process of selling property. While on the process of selling property the seller needs to take care of a few precautions and follow the steps as mentioned hereunder:-

              Step No. 1. Intending seller needs to approach his trustworthy dealer / broker to get the property noted , tell him about the title of the property, show him the papers of the property as and when required by him and request him to do the needful.
              Step No. 2. The dealer / broker may need to show the property to the prospective buyers from time to time, to arrange for it accordingly.
              Step No. 3. Settle the final price of the property after negotiation and receive the token money / Biana at the time of signing of the Agreement to sell specifying the last date for full and final payment along with other terms and conditions of the deal.
              Step No. 4. To apply for and obtain permission to sell for sale of property from the concerned authorities before the last date for full and final payment.
              Step No. 5. Hand over the possession of the property as agreed and to sign the execute the sale deed / transfer papers / GPA as the case may be at the time of full and final payment.
              NOTE: To do all the above acts and deeds successfully and with total transparency, we have a team of skilled professionals always eager to serve you with determination, dedication and honesty.</p>
          </header>
  
        
  
        </div>
      </section><!-- #selling-property -->
