
    <section id="portfolio"  class="section-bg" >
        <div class="container">
  
          <header class="section-header">
            <h3 class="section-title">Properties</h3>
          </header>
  
          <div class="row">
            <div class="col-lg-12">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">Buying </li>
                <li data-filter=".filter-card">Renting </li>
                <li data-filter=".filter-web">Selling </li>
              </ul>
            </div>
          </div>
  
          <div class="row portfolio-container">
           
            <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
              <div class="portfolio-wrap">
                <figure>
                  <img src="../../assets/img/portfolio/sectorPlan1.jpg" class="img-fluid" alt="">
                  <a href="../../assets/img/portfolio/sectorPlan1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                        <h4><a href="#">   Property Number:{{'13653'}}</a></h4>
                        <P>
                         {{'MOHALI'}},{{'RESIDENTIAL'}}
                        {{'200.00 SQUARE YARDS'}}
                         ,Cost:{{'55.00 lacs'}}</P>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <figure>
                  <img src="../../assets/img/portfolio/sectorPlan2.jpg" class="img-fluid" alt="">
                  <a href="../../assets/img/portfolio/sectorPlan2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                        <h4><a href="#">   Property Number:{{'13653'}}</a></h4>
                        <P>
                         {{'MOHALI'}},{{'RESIDENTIAL'}}
                        {{'200.00 SQUARE YARDS'}}
                         ,Cost:{{'55.00 lacs'}}</P>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <figure>
                  <img src="../../assets/img/portfolio/sectorPlan3.jpg" class="img-fluid" alt="">
                  <a href="../../assets/img/portfolio/sectorPlan3.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                        <h4><a href="#">   Property Number:{{'13653'}}</a></h4>
                        <P>
                         {{'MOHALI'}},{{'RESIDENTIAL'}}
                        {{'200.00 SQUARE YARDS'}}
                         ,Cost:{{'55.00 lacs'}}</P>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
              <div class="portfolio-wrap">
                <figure>
                  <img src="../../assets/img/portfolio/sectorPlan4.jpg" class="img-fluid" alt="">
                  <a href="../../assets/img/portfolio/sectorPlan4.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                        <h4><a href="#">   Property Number:{{'13653'}}</a></h4>
                        <P>
                         {{'MOHALI'}},{{'RESIDENTIAL'}}
                        {{'200.00 SQUARE YARDS'}}
                         ,Cost:{{'55.00 lacs'}}</P>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <figure>
                  <img src="../../assets/img/portfolio/sectorPlan5.jpg" class="img-fluid" alt="">
                  <a href="../../assets/img/portfolio/sectorPlan5.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                        <h4><a href="#">   Property Number:{{'13653'}}</a></h4>
                        <P>
                         {{'MOHALI'}},{{'RESIDENTIAL'}}
                        {{'200.00 SQUARE YARDS'}}
                         ,Cost:{{'55.00 lacs'}}</P>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <figure>
                  <img src="../../assets/img/portfolio/sectorPlan6.jpeg" class="img-fluid" alt="">
                  <a href="../../assets/img/portfolio/sectorPlan6.jpeg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                        <h4><a href="#">   Property Number:{{'13653'}}</a></h4>
                        <P>
                         {{'MOHALI'}},{{'RESIDENTIAL'}}
                        {{'200.00 SQUARE YARDS'}}
                         ,Cost:{{'55.00 lacs'}}</P>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
              <div class="portfolio-wrap">
                <figure>
                  <img src="../../assets/img/portfolio/sectorPlan7.jpg" class="img-fluid" alt="">
                  <a href="../../assets/img/portfolio/sectorPlan7.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                        <h4><a href="#">   Property Number:{{'13653'}}</a></h4>
                        <P>
                         {{'MOHALI'}},{{'RESIDENTIAL'}}
                        {{'200.00 SQUARE YARDS'}}
                         ,Cost:{{'55.00 lacs'}}</P>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <figure>
                  <img src="../../assets/img/portfolio/sectorPlan8.jpg" class="img-fluid" alt="">
                  <a href="../../assets/img/portfolio/sectorPlan8.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                        <h4><a href="#">   Property Number:{{'13653'}}</a></h4>
                        <P>
                         {{'MOHALI'}},{{'RESIDENTIAL'}}
                        {{'200.00 SQUARE YARDS'}}
                         ,Cost:{{'55.00 lacs'}}</P>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <figure>
                  <img src="../../assets/img/portfolio/sectorPlan9.jpg" class="img-fluid" alt="">
                  <a href="../../assets/img/portfolio/sectorPlan9.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                       
                               <h4><a href="#">   Property Number:{{'13653'}}</a></h4>
                               <P>
                                {{'MOHALI'}},{{'RESIDENTIAL'}}
                               {{'200.00 SQUARE YARDS'}}
                                ,Cost:{{'55.00 lacs'}}</P>
                            </div>
                  
              </div>
            </div>
  
          </div>
  
        </div>
      </section>

<!-- <div class="container">
  <div class="row">
      <div class="col-sm-3">
          <div class="card">
              <div class="card-block">
                 
                  <h6>Property Number:</h6> {{property.propertyNumber}}
                  Property Number:
                  Property Location: {{property.propertyLocation}}
                  Property Type: {{property.PropertyType}}
                  Property Area: {{property.PropertyArea}}
                  Property Cost: {{property.PropertyCost}}
              </div>
          </div>
      </div>
     
  </div>
</div> -->





