<div *ngFor="let property of properties">



<div class="container">
  <div class="row">
      <div class="col-sm-3">
          <div class="card">
              <div class="card-block">
                 
                  <h6>Property Number:</h6> {{property.propertyNumber}}
                  Property Number:
                  Property Location: {{property.propertyLocation}}
                  Property Type: {{property.PropertyType}}
                  Property Area: {{property.PropertyArea}}
                  Property Cost: {{property.PropertyCost}}
              </div>
          </div>
      </div>
     
  </div>
</div>

</div>



